*.swp
*.e
*persist
*persist*orig
*bck*
test/.env?*
*.log
*.log.*
tags
clientex1
old
cached_data
*.orig
.alias
doc/
*.orig*
masdev/
*.bad
*.good
test/scripts/
symbols.*
*_tmp*
test/work/
mas_httprc.*
*.txt
